#
CONFIG_ARCH_X86=y
#
CONFIG_ARCH_X86_I586=y
CONFIG_ARCH_ARM_DNARD=y
CONFIG_ARCH_MIPS_R4000=y
CONFIG_ARCH_SH_EMU=y
CONFIG_ARCH_M68K_DRAGONBALL=y
#
CONFIG_VERSION_X0=y

CONFIG_BUILD_SIGMA0=y
#
CONFIG_LIBIO_OUTSCRN=y
